<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExperienceIn</title>
</head>

<body>
    <h1>Bem vindo ao ExperienceIn</h1>
    {% if perfis %}
    <ul>
        {% for perfil in perfis %}
            <li>
                <a href="/perfis/{{perfil.id}}">{{ perfil.nome }}</a> / {{ perfil.email }}
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Nenhum Perfil Encontrado</p>
    {% endif %}
</body>

</html>